.user-tag {
  display: flex;
  height: 100%;
  padding: 8px;
  gap: 7px;
  border: 1px solid #cecece;
  border-radius: 5px;
  cursor: default;
  margin: 8px;

  .btn-remove {
    background-color: transparent;
    border: none;

    .icon {
      height: 100%;
      width: auto;

      img {
        height: 10px;
        filter: grayscale(100%);
      }
    }
  }
}
