$primary-blue: #40a0d0;
$primary-sublte-blue: #f1f4f9;
$primary-white: #ffffff;

$secondary-green: #66bb6a;
$secondary-blue: #1a74a1;
$secondary-red: #ee4a49;
$secondary-subtle-red: #fdeded;

$txt-color-black: #2b2b2b;
$txt-color-dark-grey: #66747f;
$txt-color-grey: #9e9b9b;
$txt-color-subtle-grey: #d3d1d1;
