$primary-blue: #40a0d0;
$primary-sublte-blue: #f1f4f9;
$primary-white: #ffffff;
$primary-bg-white: #fafafa;
$primary-white-lotion: #fafafa;

$secondary-green: #66bb6a;
$secondary-blue: #1a74a1;
$secondary-red: #ee4a49;
$secondary-subtle-red: #fdeded;
$secondary-white-blue: #ebf8ff;

$txt-color-black: #2b2b2b;
$txt-color-dark-grey: #66747f;
$txt-color-dark-grey-2: #8c8c8c;
$txt-color-dark-grey-3: #848484;
$txt-color-grey: #9e9b9b;
$txt-color-grey-2: #9C9D9F;
$txt-color-subtle-grey: #d3d1d1;
$txt-color-subtle-grey-2: #e2e2e2;

$b-color-white-green: #deeece;
$b-color-gray: #dddddd;
$b-color-gray-2: #cecece;
