@import '../../index';
.signin-form-container {
  height: 100vh;
  width: 60%;
  float: left;
}

.signin-greetings-container {
  height: 100vh;
  width: 40%;
  background: url('../../assets/images/background-form.png')
    rgba(64, 160, 208, 1);
  background-size: cover;
  background-blend-mode: multiply;
  float: right;
}
